node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
android/.gradle/
android/app/build/
android/app/src/main/res/mipmap-*
android/app/src/main/res/drawable-*
android/app/src/main/res/values-*
android/app/src/main/res/layout-*
android/app/src/main/assets/index.android.bundle
ios/build/
ios/Pods/
ios/Podfile.lock
.idea/
.vscode/
*.swp
*.swo
*.DS_Store
